#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/reset.h>

#define BASE 0
#define BLUETOOTH 1

&encoder_1_top_row {
	status = "okay";
};

/ {
	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&encoder_1_top_row>;
	};

	keymap {
		compatible = "zmk,keymap";
		
		Base_layer {
			bindings = <
								&kp RETURN
					&kp ESCAPE &kp K_PLAY_PAUSE &to BLUETOOTH 
					&kp DOWN &kp K_STOP2 &kp DOWN 
			>;

			sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
		};

		 Bluetooth_layer {
			 bindings = <
								&trans 
					&none &reset &to BASE
					&bt BT_PRV &bt BT_CLR &bt BT_NXT
			 >;

			 sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
		 };
	};
};
