#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/reset.h>

&top_encoder {
    status = "okay";
};

/ {
  keymap {
    compatible = "zmk,keymap";
    sensors = <&top_encoder>;
    default_layer {
      bindings = <
        &kp RETURN 
        &kp ESC &kp UP &tog 1
        &kp LEFT &kp DOWN &kp RIGHT
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
    };

    bt_layer {
      bindings = <
        &kp RETURN 
        &C_MUTE &kp C_PWR &tog 0 
        &bt BT_PRV &bt BT_CLR &bt BT_NXT 
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
    };
  };
};
