/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/reset.h>

&top_encoder {
    status = "okay";
};

/ {
  keymap {
    compatible = "zmk,keymap";
    sensors = <&top_encoder>;
    default_layer {
      bindings = <
        &kp RETURN 
        &kp ESCAPE &kp K_PLAY_PAUSE &tog 1
        &kp UP &kp K_STOP2 &kp DOWN
      >;
      sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
    };

    bt_layer {
      bindings = <
        &kp RETURN 
        &bootloader &reset &tog 0 
        &bt BT_PRV &bt BT_CLR &bt BT_NXT 
      >;
      sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
    };
  };
};